[Unit]
Description=CppServer Service
After=network.target

[Service]
ExecStart=/etc/CppServer/server
Restart=on-failure
User=root
WorkingDirectory=/etc/CppServer
Nice=-15

[Install]
WantedBy=multi-user.target
