[Unit]
Description=CppServer Service
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/CppServer/env.conf
ExecStart=/etc/CppServer/server $SERVER_IP $SERVER_PORT
Restart=on-failure
User=root
WorkingDirectory=/etc/CppServer
Nice=-15
RestartSec=5
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
